{
  "openapi": "3.0.3",
  "info": {
    "title": "Authentication",
    "version": "1.0.0",
    "termsOfService": "https://usc.pax8.com/resource/display/65345"
  },
  "servers": [
    {
      "url": "https://api.pax8.com/v1"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Access Token",
      "description": "The Access Token that allows access to the Pax8 API"
    },
    {
      "name": "Companies",
      "description": "Companies represent the customers your organization serves through the Pax8 platform. Fetch a list of your company records, or a specific company by its companyId"
    },
    {
      "name": "Products",
      "description": "The Products resource lets you fetch all the information required to complete an Order -- product descriptions, pricing, provisioning details, and the dependencies associated with each product"
    },
    {
      "name": "Orders",
      "description": "Orders describe your purchases of Pax8 products. Endpoints let you create new product orders and query past purchases"
    },
    {
      "name": "Subscriptions",
      "description": "Subscriptions describe terms of service, including price and the billing start/end dates for a specified product/company combination. Resources let you update, cancel, and fetch details of existing subscriptions"
    },
    {
      "name": "Contacts",
      "description": "Contacts represent the people who should be provided visibility into events such as provisioning"
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "x-readme": {
          "explorer-enabled": false
        },
        "tags": [
          "Access Token"
        ],
        "summary": "Create a new Access Token",
        "description": "Create a new Access Token. Use the code examples to create an Access token on your local machine. Then copy the `access_token` into the Authorization header of any endpoint in the documentation to start making calls. The audience should be set to `https://api.pax8.com` for the partner endpoints.",
        "operationId": "createAccessToken",
        "requestBody": {
          "description": "Token Request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              },
              "examples": {
                "token-request-example": {
                  "$ref": "#/components/examples/token-request-example"
                }
              }
            }
          }
        },
        "security": [
          {}
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                },
                "examples": {
                  "token-response-example": {
                    "$ref": "#/components/examples/token-response-example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "examples": {
                  "token-error-auth-example": {
                    "$ref": "#/components/examples/token-error-auth-example"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/companies": {
      "post": {
        "tags": [
          "Companies"
        ],
        "summary": "Create Company",
        "description": "Creates a new Company. ATTENTION - The Company will be placed in an “inactive” status until the [Company has primary Contacts added](#tag/Contacts). Once contacts are added, the company will move to “active”.",
        "operationId": "createCompany",
        "requestBody": {
          "description": "Company object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Company"
              },
              "examples": {
                "company-post": {
                  "$ref": "#/components/examples/company-post"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Company create",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                },
                "examples": {
                  "company-0": {
                    "$ref": "#/components/examples/company-0"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid Company",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "List Companies",
        "description": "Returns a paginated list of all your companies filtered by optional parameters",
        "operationId": "findCompanies",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to request for in the companies list",
            "required": false,
            "schema": {
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Return this number of company records per page",
            "required": false,
            "schema": {
              "type": "number",
              "default": 10,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Return companies sorted by this field and direction. Formatted as fieldName,direction - ex. sort=name,desc",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "city",
                "country",
                "stateOrProvince",
                "postalCode"
              ]
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "Return only companies matching this ```city``` value",
            "required": false,
            "schema": {
              "type": "string",
              "example": "Greenwood Village"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Return only companies matching this ```country``` value",
            "required": false,
            "schema": {
              "type": "string",
              "example": "United States"
            }
          },
          {
            "name": "stateOrProvince",
            "in": "query",
            "description": "Return only companies matching this ```stateOrProvince``` value",
            "required": false,
            "schema": {
              "type": "string",
              "example": "Colorado"
            }
          },
          {
            "name": "postalCode",
            "in": "query",
            "description": "Return only companies matching this ```postalCode``` value",
            "required": false,
            "schema": {
              "type": "string",
              "example": "80111"
            }
          },
          {
            "name": "selfServiceAllowed",
            "in": "query",
            "description": "Return only companies matching this ```selfServiceAllowed``` value",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "billOnBehalfOfEnabled",
            "in": "query",
            "description": "Return only companies matching this ```billOnBehalfOfEnabled``` value",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "orderApprovalRequired",
            "in": "query",
            "description": "Return only companies matching this ```orderApprovalRequired``` value",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Return only companies matching this ```status``` value",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Active",
                "Inactive",
                "Deleted"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Company"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/Page"
                    }
                  }
                },
                "examples": {
                  "companies-paged": {
                    "$ref": "#/components/examples/companies-paged"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/companies/{companyId}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get Company By ID",
        "description": "Returns a single company record matching the ```companyId``` you specify",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "example": "f7fc273a-8d86-45c9-a26f-ffd42416adda",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                },
                "examples": {
                  "company-0": {
                    "$ref": "#/components/examples/company-0"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Companies"
        ],
        "summary": "Update Company",
        "description": "Updates an existing Company. ATTENTION - at least one parameter has to be modified.",
        "operationId": "updateCompany",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "f7fc273a-8d86-45c9-a26f-ffd42416adda"
            }
          }
        ],
        "requestBody": {
          "description": "Company object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyUpdate"
              },
              "examples": {
                "company-post": {
                  "$ref": "#/components/examples/company-update-post"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Company update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                },
                "examples": {
                  "company-0": {
                    "$ref": "#/components/examples/company-0"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid Company",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{companyId}/contacts": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create Contact",
        "description": "Creates a new Contact",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "f7fc273a-8d86-45c9-a26f-ffd42416adda"
            }
          }
        ],
        "requestBody": {
          "description": "Contact object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid contact create",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List Contacts",
        "description": "Returns a paginated list of contacts ordered by ```createDate``` descending",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to request for in the contacts list",
            "required": false,
            "schema": {
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Return this number of company records per page",
            "required": false,
            "schema": {
              "type": "number",
              "default": 10,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "f7fc273a-8d86-45c9-a26f-ffd42416adda"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/Page"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{companyId}/contacts/{contactId}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get Contact By ID",
        "description": "Returns a contact",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "f7fc273a-8d86-45c9-a26f-ffd42416adda"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "5ba26319-00e4-4a8f-986b-02a1170af269"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "404": {
            "description": "Contact or company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid contact update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update Contact",
        "description": "Update a contacts information",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "f7fc273a-8d86-45c9-a26f-ffd42416adda"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "5ba26319-00e4-4a8f-986b-02a1170af269"
            }
          }
        ],
        "requestBody": {
          "description": "Updated contact",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "404": {
            "description": "Contact or company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid contact update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete Contact",
        "description": "Deletes a contact",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "f7fc273a-8d86-45c9-a26f-ffd42416adda"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "5ba26319-00e4-4a8f-986b-02a1170af269"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation",
            "content": {}
          },
          "404": {
            "description": "Contact or company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid contact delete",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List Products",
        "description": "Returns a paginated list of Pax8 products filtered by optional query parameters",
        "operationId": "findAllProducts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to request for in the products list",
            "required": false,
            "schema": {
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Return this number of products per page",
            "required": false,
            "schema": {
              "type": "number",
              "default": 10,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Return products sorted by the field and direction specified. Formatted as fieldName, direction - ex. sort=name,desc",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "vendor"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search on fields like name, vendor, SKU and ID.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "Office 365"
            }
          },
          {
            "name": "vendorName",
            "in": "query",
            "description": "Return only products matching the specified vendor name",
            "required": false,
            "schema": {
              "type": "string",
              "example": "Microsoft"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/Page"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get Product By ID",
        "description": "Returns only the product record for the productId you specify",
        "operationId": "findProductByProductId",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "aaaee3f-262c-47a4-b0e6-f9ce8b54fcd7"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductDetail"
                },
                "examples": {
                  "microsoft-office-365-e3": {
                    "$ref": "#/components/examples/microsoft-office-365-e3"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/provision-details": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get Provisioning Details",
        "description": "Returns provisioning details for the specified productId. Provisioning details for a product are dynamic data.",
        "operationId": "findProvisionDetailsByProductId",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "aaaee3f-262c-47a4-b0e6-f9ce8b54fcd7"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProvisioningDetail"
                      }
                    }
                  }
                },
                "examples": {
                  "microsoft-office-365-e3-details": {
                    "$ref": "#/components/examples/microsoft-office-365-e3-details"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/dependencies": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get Product Dependencies",
        "description": "Returns associated dependencies for the specified ```productId```. A products dependencies are dynamic data.",
        "operationId": "findProductDependenciesByProductId",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "aaaee3f-262c-47a4-b0e6-f9ce8b54fcd7"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dependencies"
                },
                "examples": {
                  "dependencies-example": {
                    "$ref": "#/components/examples/dependencies-example"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/products/{productId}/pricing": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get Pricing",
        "description": "Returns recommended pricing and partner cost for the specified productId. A products pricing is dynamic data.",
        "operationId": "findPricingByProductId",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "The product id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "aaaee3f-262c-47a4-b0e6-f9ce8b54fcd7"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "Use the companyId in the query to see company-specific pricing",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "f7fc273a-8d86-45c9-a26f-ffd42416adda"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Pricing"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List Orders",
        "description": "Returns a paginated list of orders. Currently NOT supported for scheduled orders(orders with a future date).",
        "operationId": "findOrders",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to request for in the orders list",
            "required": false,
            "schema": {
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "default": 10,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "description": "The company id to filter on",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "f7fc273a-8d86-45c9-a26f-ffd42416adda"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Order"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/Page"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create Order",
        "description": "Create a new order. Currently NOT supported for scheduled orders(orders with a future date).",
        "operationId": "createOrder",
        "requestBody": {
          "description": "Order object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrder"
              },
              "examples": {
                "microsoft-office-365-e3-order": {
                  "$ref": "#/components/examples/microsoft-office-365-e3-order"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "isMock",
            "schema": {
              "type": "boolean"
            },
            "description": "Perform validations only. Skip any interactions with the database.",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                },
                "examples": {
                  "microsoft-office-365-e3-order-response": {
                    "$ref": "#/components/examples/microsoft-office-365-e3-order-response"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get Order By ID",
        "description": "Returns the Order record specified by OrderId. Currently NOT supported for scheduled orders",
        "operationId": "findOrdersByOrderId",
        "parameters": [
          {
            "name": "orderId",
            "description": "The unique identifier for an order record",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "8f72220b-2a13-4856-a647-b80448722bbb"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                },
                "examples": {
                  "microsoft-office-365-e3-order-get-response": {
                    "$ref": "#/components/examples/microsoft-office-365-e3-order-get-response"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Invalid order id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "List Subscriptions",
        "description": "Fetch a paginated list of subscriptions. Default page is 0 and default size is 10. The maximum page size is 200",
        "operationId": "findSubscriptions",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to request in the subscriptions list",
            "required": false,
            "schema": {
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Returns _this_ number of subscriptions per page",
            "required": false,
            "schema": {
              "type": "number",
              "default": 10,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Return subscriptions sorted by this field and direction Formatted as fieldName,direction - ex. sort=createdDate,desc",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "quantity,asc",
                "quantity,desc",
                "startDate,asc",
                "startDate,desc",
                "endDate,asc",
                "endDate,desc",
                "createdDate,asc",
                "createdDate,desc",
                "billingStart,asc",
                "billingStart,desc",
                "price,asc",
                "price,desc"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Return only subscriptions matching this ```status``` value",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Active",
                "Cancelled",
                "PendingManual",
                "PendingAutomated",
                "PendingCancel",
                "WaitingForDetails",
                "Trial",
                "Converted",
                "PendingActivation",
                "Activated"
              ]
            }
          },
          {
            "name": "billingTerm",
            "in": "query",
            "description": "Return only subscriptions matching this ```billingTerm``` value",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Monthly",
                "Annual",
                "2-Year",
                "3-Year",
                "One-Time",
                "Trial",
                "Activation"
              ]
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "Return only subscriptions matching this ```companyId``` value",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "f7fc273a-8d86-45c9-a26f-ffd42416adda"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "description": "Return only subscriptions matching this ```productId``` value",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "aaaee3f-262c-47a4-b0e6-f9ce8b54fcd7"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subscription"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/Page"
                    }
                  }
                },
                "examples": {
                  "subscriptions-paged": {
                    "$ref": "#/components/examples/subscriptions-paged"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid companyId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Get Subscription By ID",
        "description": "Returns the Subscription record specified by the subscriptionId",
        "operationId": "findSubscriptionBySubscriptionId",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "04814f37-bef0-48b7-b388-c04a1e31f889"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                },
                "examples": {
                  "microsoft-office-365-e3-subscription": {
                    "$ref": "#/components/examples/microsoft-office-365-e3-subscription"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Subscription not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Update Subscription",
        "description": "Updates a subscription. Currently NOT supported for subscriptions with a future date.",
        "operationId": "updateSubscription",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "subscription to be updated",
            "required": true,
            "schema": {
              "type": "string",
              "example": "04814f37-bef0-48b7-b388-c04a1e31f889"
            }
          }
        ],
        "requestBody": {
          "description": "Updated Subscription",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Subscription"
              },
              "examples": {
                "subscription-update-example": {
                  "$ref": "#/components/examples/subscription-update-example"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "404": {
            "description": "Subscription not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Subscription Update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Cancel Subscription",
        "description": "Cancels the Subscription specified by subscriptionId",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "subscription to be updated",
            "required": true,
            "schema": {
              "type": "string",
              "example": "04814f37-bef0-48b7-b388-c04a1e31f889"
            }
          },
          {
            "name": "cancelDate",
            "in": "query",
            "description": "The date to cancel the subscription on",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2000-10-31T01:30:00.000-05:00"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation",
            "content": {}
          },
          "404": {
            "description": "Subscription not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/history": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Get Subscription History",
        "description": "Returns a list of changes for a subscription",
        "operationId": "findSubscriptionHistoryBySubscriptionId",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "04814f37-bef0-48b7-b388-c04a1e31f889"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subscription"
                      }
                    }
                  }
                },
                "examples": {
                  "subscriptions-history": {
                    "$ref": "#/components/examples/subscription-history"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Subscription not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List Invoices",
        "description": "Fetch a paginated list of invoices. Default page is 0 and default size is 10. The maximum page size is 200",
        "operationId": "findPartnerInvoices",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to request in the invoices list",
            "required": false,
            "schema": {
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Returns _this_ number of invoices per page",
            "required": false,
            "schema": {
              "type": "number",
              "default": 10,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Return invoices sorted by this field and direction Formatted as fieldName,direction - ex. sort=invoiceDate,desc",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "invoiceDate",
                "dueDate",
                "status",
                "partnerName",
                "total",
                "balance",
                "carriedBalance"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Return only invoices matching this ```status``` value",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Unpaid",
                "Paid",
                "Void",
                "Carried",
                "Nothing Due"
              ]
            }
          },
          {
            "name": "invoiceDate",
            "in": "query",
            "description": "Return only invoices matching this ```invoiceDate``` value",
            "required": false,
            "schema": {
              "type": "string",
              "format": "yyyy-MM-dd",
              "example": "2000-10-31"
            }
          },
          {
            "name": "invoiceDateRangeStart",
            "in": "query",
            "description": "Return only invoices with an ```invoiceDate``` greater than or equal to this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "yyyy-MM-dd",
              "example": "2000-10-31"
            }
          },
          {
            "name": "invoiceDateRangeEnd",
            "in": "query",
            "description": "Return only invoices with an ```invoiceDate``` less than or equal to this date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "yyyy-MM-dd",
              "example": "2001-10-31"
            }
          },
          {
            "name": "dueDate",
            "in": "query",
            "description": "Return only invoices matching this ```dueDate``` value",
            "required": false,
            "schema": {
              "type": "string",
              "format": "yyyy-MM-dd",
              "example": "2000-10-31"
            }
          },
          {
            "name": "total",
            "in": "query",
            "description": "Return only invoices matching this ```total``` value",
            "required": false,
            "schema": {
              "type": "number",
              "example": "100.00"
            }
          },
          {
            "name": "balance",
            "in": "query",
            "description": "Return only invoices matching this ```balance``` value",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1000.00"
            }
          },
          {
            "name": "carriedBalance",
            "in": "query",
            "description": "Return only invoices matching this ```carriedBalance``` value",
            "required": false,
            "schema": {
              "type": "number",
              "example": "2000.00"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "Return only invoices matching this ```companyId``` value",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "f7fc273a-8d86-45c9-a26f-ffd42416adda"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/Page"
                    }
                  }
                },
                "examples": {
                  "invoices-paged": {
                    "$ref": "#/components/examples/invoices-paged"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Invalid companyId or productId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/{invoiceId}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get Invoice By ID",
        "description": "Fetch a paginated list of invoices. Default page is 0 and default size is 10. The maximum page size is 200",
        "operationId": "getPartnerInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "The invoice id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "57328a3c-6e95-493c-ad2f-e33b896378c7"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                },
                "examples": {
                  "invoice-0": {
                    "$ref": "#/components/examples/invoice-0"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/invoices/{invoiceId}/items": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List Invoice Items",
        "description": "Fetch a paginated list of invoice items. Default page is 0 and default size is 10. The maximum page size is 200",
        "operationId": "findPartnerInvoiceItems",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "The invoice id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "57328a3c-6e95-493c-ad2f-e33b896378c7"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to request in the invoices items list",
            "required": false,
            "schema": {
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Returns _this_ number of invoices items per page",
            "required": false,
            "schema": {
              "type": "number",
              "default": 10,
              "minimum": 1,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InvoiceItem"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/Page"
                    }
                  }
                },
                "examples": {
                  "invoice-items": {
                    "$ref": "#/components/examples/invoice-items"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Invalid invoice id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/usage-summaries": {
      "get": {
        "tags": [
          "Usage Summaries"
        ],
        "summary": "List Usage Summaries",
        "description": "Fetch a paginated list of usage summaries. Default page is 0 and default size is 10. The maximum page size is 200",
        "operationId": "findSubscriptionUsageSummaries",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "04814f37-bef0-48b7-b388-c04a1e31f889"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to request in the usage summaries list",
            "required": false,
            "schema": {
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Returns _this_ number of usage summaries per page",
            "required": false,
            "schema": {
              "type": "number",
              "default": 10,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Return usage summaries sorted by this field and direction Formatted as fieldName,direction - ex. sort=resourceGroup,desc",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "resourceGroup",
                "currentCharges",
                "partnerTotal"
              ]
            }
          },
          {
            "name": "resourceGroup",
            "in": "query",
            "description": "Return only usage summaries matching this ```resourceGroup``` value",
            "required": false,
            "schema": {
              "type": "string",
              "example": "IronCloud Technologies"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "Return only usage summaries with this ```companyId``` value",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "f7fc273a-8d86-45c9-a26f-ffd42416adda"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UsageSummary"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/Page"
                    }
                  }
                },
                "examples": {
                  "usage-summaries-paged": {
                    "$ref": "#/components/examples/usage-summaries-paged"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Invalid subscriptionId or companyId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/usage-summaries/{usageSummaryId}": {
      "get": {
        "tags": [
          "Usage Summaries"
        ],
        "summary": "Get Usage Summary By ID",
        "description": "Fetch a paginated list of usage summaries. Default page is 0 and default size is 10. The maximum page size is 200",
        "operationId": "findSubscriptionUsageSummary",
        "parameters": [
          {
            "name": "usageSummaryId",
            "in": "path",
            "description": "The usage summary id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "f5e4cefe-09ff-46a0-b3b0-4f392cfae44c"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageSummary"
                }
              }
            }
          }
        }
      }
    },
    "/usage-summaries/{usageSummaryId}/usage-lines": {
      "get": {
        "tags": [
          "Usage Summaries"
        ],
        "summary": "List Usage Summary Lines",
        "description": "Fetch a paginated list of usage lines. Default page is 0 and default size is 10. The maximum page size is 200",
        "operationId": "findUsageLines",
        "parameters": [
          {
            "name": "usageSummaryId",
            "in": "path",
            "description": "The usage summary id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "f5e4cefe-09ff-46a0-b3b0-4f392cfae44c"
            }
          },
          {
            "name": "usageDate",
            "in": "query",
            "description": "The date usage was recorded",
            "required": true,
            "schema": {
              "type": "string",
              "format": "yyyy-MM-dd",
              "example": "2020-01-01"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "description": "Return only usage summaries with this ```productId``` value",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "aaaee3f-262c-47a4-b0e6-f9ce8b54fcd7"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UsageLine"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/Page"
                    }
                  }
                },
                "examples": {
                  "invoice-items": {
                    "$ref": "#/components/examples/usage-lines-paged"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Invalid usage summary id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/draftItems": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List Draft Invoice Items",
        "description": "Fetch a paginated list of draft invoice items before they are finalized into invoices. Default page is 0 and default size is 10. The maximum page size is 200.\n\nDISCLAIMER: For future-dated items, the data represents a snapshot of charges that will be applied to a future invoice as of the request date. This is not an actual invoice. Clients should be aware that the final invoice generated on the 5th of the month may differ. This endpoint does not include charges for usage-based products billed in arrears. Tax calculations are based on current account taxability status and current month tax rates, both of which are subject to change for future invoices.\n",
        "operationId": "findPartnerDraftInvoiceItems",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number to request in the draft invoice items list",
            "required": false,
            "schema": {
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Returns _this_ number of draft invoice items per page",
            "required": false,
            "schema": {
              "type": "number",
              "default": 10,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "monthOffset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ],
              "default": 1
            },
            "description": "Number of months from current to return draft items for. 0 = current month, 1 = next month. Only values 0 and 1 are currently supported. If omitted, defaults to 1 (next month).\n"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "7e338a9b-7bf5-4489-ad0a-59f5e664be19"
            },
            "description": "Filter draft items to a specific company.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InvoiceItem"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/Page"
                    }
                  }
                },
                "examples": {
                  "draft-invoice-items": {
                    "$ref": "#/components/examples/draft-invoice-items"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "408": {
            "description": "Request timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid monthOffset value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TokenRequest": {
        "type": "object",
        "required": [
          "client_id",
          "client_secret",
          "audience",
          "grant_type"
        ],
        "properties": {
          "client_id": {
            "type": "string",
            "description": "The client id"
          },
          "client_secret": {
            "type": "string",
            "description": "The client secret"
          },
          "audience": {
            "type": "string",
            "enum": [
              "https://api.pax8.com",
              "api://p8p.client",
              "api://provisioning",
              "api://usage"
            ]
          },
          "grant_type": {
            "type": "string",
            "enum": [
              "client_credentials"
            ]
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "The Access Token"
          },
          "expires_in": {
            "type": "number",
            "description": "The time to live of the Access Token in seconds",
            "enum": [
              86400
            ]
          },
          "token_type": {
            "type": "string",
            "enum": [
              "Bearer"
            ]
          }
        }
      },
      "Company": {
        "type": "object",
        "required": [
          "name",
          "address",
          "phone",
          "website",
          "billOnBehalfOfEnabled",
          "selfServiceAllowed",
          "orderApprovalRequired"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true,
            "description": "The unique id of the company"
          },
          "name": {
            "type": "string",
            "example": "Pax8",
            "description": "The company name"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "phone": {
            "type": "string",
            "description": "The primary phone number of the company",
            "example": "555-555-5555"
          },
          "website": {
            "type": "string",
            "description": "The full URL of the company website",
            "example": "https://www.pax8.com/"
          },
          "externalId": {
            "type": "string",
            "description": "An external ID that can be assigned to the company for reference"
          },
          "billOnBehalfOfEnabled": {
            "type": "boolean",
            "description": "Value is ```true``` if Pax8 handles billing transactions, value is ```false``` if partner handles billing transactions"
          },
          "selfServiceAllowed": {
            "type": "boolean",
            "description": "Value is ```true``` if self-service privileges are available to the company, otherwise value is ```false```"
          },
          "orderApprovalRequired": {
            "type": "boolean",
            "description": "Value is ```true``` if the company's self-service orders require approval, otherwise value is ```false```"
          },
          "status": {
            "readOnly": true,
            "type": "string",
            "enum": [
              "Active",
              "Inactive",
              "Deleted"
            ],
            "description": "Company Status:\n  * `Active` - The company is active\n  * `Inactive` - The company is inactive due to missing contacts\n  * `Deleted` - The company has been deleted\n"
          },
          "updatedDate": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "description": "The date and time the company was last updated"
          }
        }
      },
      "CompanyUpdate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true,
            "description": "The unique id of the company"
          },
          "name": {
            "type": "string",
            "example": "Pax8",
            "description": "The company name"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "phone": {
            "type": "string",
            "description": "The primary phone number of the company",
            "example": "555-555-5555"
          },
          "website": {
            "type": "string",
            "description": "The full URL of the company website",
            "example": "https://www.pax8.com/"
          },
          "externalId": {
            "type": "string",
            "description": "An external ID that can be assigned to the company for reference"
          },
          "billOnBehalfOfEnabled": {
            "type": "boolean",
            "description": "Value is ```true``` if Pax8 handles billing transactions, value is ```false``` if partner handles billing transactions"
          },
          "selfServiceAllowed": {
            "type": "boolean",
            "description": "Value is ```true``` if self-service privileges are available to the company, otherwise value is ```false```"
          },
          "orderApprovalRequired": {
            "type": "boolean",
            "description": "Value is ```true``` if the company's self-service orders require approval, otherwise value is ```false```"
          },
          "status": {
            "readOnly": true,
            "type": "string",
            "enum": [
              "Active",
              "Inactive",
              "Deleted"
            ],
            "description": "Company Status:\n  * `Active` - The company is active\n  * `Inactive` - The company is inactive due to missing contacts\n  * `Deleted` - The company has been deleted\n"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "The name of a product",
            "example": "Acme Corps Productivity Suite"
          },
          "vendorName": {
            "type": "string",
            "description": "The name of the vendor",
            "example": "Acme Corps"
          },
          "shortDescription": {
            "example": "Short description about the product to sell",
            "description": "A short description of the product",
            "type": "string"
          },
          "sku": {
            "type": "string",
            "example": "4225-776-3234",
            "description": "The product sku"
          },
          "vendorSku": {
            "type": "string",
            "example": "12345-AA-XYZ",
            "description": "The product vendor sku"
          },
          "altVendorSku": {
            "type": "string",
            "format": "uuid",
            "deprecated": true,
            "description": "The Microsoft legacy sku has been deprecated. Please transition to vendorSku"
          },
          "requiresCommitment": {
            "type": "boolean",
            "example": false,
            "description": "Whether the product requires a commitment"
          }
        }
      },
      "ProductDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "The name of a product",
            "example": "Acme Corps Productivity Suite"
          },
          "vendorName": {
            "type": "string",
            "description": "The name of the vendor",
            "example": "Acme Corps"
          },
          "shortDescription": {
            "example": "Short description about the product to sell",
            "description": "A short description of the product",
            "type": "string"
          },
          "description": {
            "type": "string",
            "description": "A long description of the Product",
            "example": "A Long description about the product to sell"
          },
          "sku": {
            "type": "string",
            "example": "4225-776-3234",
            "description": "The product sku"
          },
          "vendorSku": {
            "type": "string",
            "example": "12345-AA-XYZ",
            "description": "The product vendor sku"
          },
          "altVendorSku": {
            "type": "string",
            "format": "uuid",
            "deprecated": true,
            "description": "The Microsoft legacy sku has been deprecated. Please transition to vendorSku"
          },
          "requiresCommitment": {
            "type": "boolean",
            "example": false,
            "description": "Whether the product requires a commitment"
          }
        }
      },
      "Dependencies": {
        "type": "object",
        "properties": {
          "commitmentDependencies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Commitment"
            }
          },
          "productDependencies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductDependency"
            }
          }
        }
      },
      "ProductDependency": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the product constraint"
          },
          "products": {
            "type": "array",
            "description": "A list of products that satisfy the constraint",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          }
        }
      },
      "Pricing": {
        "type": "object",
        "properties": {
          "billingTerm": {
            "type": "string",
            "enum": [
              "Monthly",
              "Annual",
              "2-Year",
              "3-Year",
              "One-Time",
              "Trial",
              "Activation"
            ]
          },
          "commitmentTerm": {
            "type": "string",
            "description": "Duration of the commitment",
            "example": "3-Year"
          },
          "commitmentTermInMonths": {
            "type": "number",
            "description": "Commitment in months",
            "example": 36
          },
          "type": {
            "type": "string",
            "enum": [
              "Flat",
              "Volume",
              "Tiered",
              "Mark-Up"
            ]
          },
          "unitOfMeasurement": {
            "type": "string",
            "description": "The unit of measurement",
            "example": "Each"
          },
          "rates": {
            "description": "A list of rates",
            "items": {
              "$ref": "#/components/schemas/Rate"
            }
          }
        }
      },
      "Rate": {
        "type": "object",
        "properties": {
          "partnerBuyRate": {
            "type": "number",
            "description": "The partner cost",
            "example": 145.8
          },
          "suggestedRetailPrice": {
            "type": "number",
            "description": "The suggested customer cost",
            "example": 151.8
          },
          "startQuantityRange": {
            "type": "number",
            "example": 5,
            "description": "The start of the quantity range. If not set 0 is the default"
          },
          "endQuantityRange": {
            "type": "number",
            "example": 200,
            "description": "The end of the quantity range. If ```null``` there is no end of range"
          },
          "chargeType": {
            "type": "string",
            "enum": [
              "Per Unit",
              "Flat Rate"
            ],
            "description": "Rate Charge Type:\n  * `Per Unit` - The rate is multiplied directly by the quantity based on the start and end quantity range\n  * `Flat Rate` - The rate is flat for the quantity based on the start and end quantity range\n"
          }
        }
      },
      "Commitment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the commitment record",
            "format": "uuid",
            "readOnly": true
          },
          "term": {
            "type": "string",
            "description": "Duration of the commitment",
            "example": "3-Year"
          },
          "autoRenew": {
            "type": "boolean",
            "description": "Renews without manual intervention at the end of the term"
          },
          "renewalWindowDaysBeforeTermEnd": {
            "type": "number",
            "description": "Number of days _before_ term end-date when renewal window opens"
          },
          "renewalWindowDaysAfterTermEnd": {
            "type": "number",
            "description": "Number of days after the term end-date that renewal window closes"
          },
          "allowForQuantityIncrease": {
            "description": "Is ```true``` if quantity can be increased during commitment term",
            "type": "boolean"
          },
          "allowForQuantityDecrease": {
            "type": "boolean",
            "description": "Is ```true``` if quantity can be decreased during commitment term"
          },
          "allowForEarlyCancellation": {
            "description": "Is ```true``` if commitment can be cancelled prior to end of term",
            "type": "boolean"
          },
          "cancellationFeeApplied": {
            "type": "boolean",
            "description": "Is ```true``` if canceling subscription entails a fee"
          },
          "isTransferable": {
            "type": "boolean",
            "description": "Is ```true``` if commitment can be transferred to another company"
          }
        }
      },
      "SubscriptionCommitment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the commitment record",
            "format": "uuid"
          },
          "term": {
            "type": "string",
            "description": "Duration of the commitment",
            "example": "3-Year"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProvisioningDetail": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "readOnly": true,
            "description": "The label to display"
          },
          "key": {
            "type": "string",
            "example": "userEmailAddress",
            "description": "The key"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of values based on the ```valuetype``` and ```possibleValues```",
            "writeOnly": true
          },
          "description": {
            "type": "string",
            "example": "Provide the user's email address",
            "description": "Instructions and context to help enter the required provisioning information",
            "readOnly": true
          },
          "valueType": {
            "type": "string",
            "readOnly": true,
            "enum": [
              "Input",
              "Single-Value",
              "Multi-Value"
            ],
            "description": "Provisioning Detail Value Type:\n * `Input` - A value that is supplied by a user\n * `Single-Value` - A single value that is picked from the `possibleValues` list\n * `Multi-Value` - One or multiple values that are picked from the `possibleValues` list\n"
          },
          "possibleValues": {
            "type": "array",
            "readOnly": true,
            "description": "A list of possible values. `possibleValues` will be null when `valueType` is `Input`",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CreateOrder": {
        "type": "object",
        "required": [
          "companyId",
          "lineItems"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "unique id of the order",
            "readOnly": true
          },
          "companyId": {
            "type": "string",
            "format": "uuid",
            "description": "unique id of the purchasing company ie. end-user"
          },
          "createdDate": {
            "type": "string",
            "format": "date",
            "description": "the date the order was created",
            "readOnly": true
          },
          "orderedBy": {
            "type": "string",
            "enum": [
              "Pax8 Partner",
              "Customer",
              "Pax8"
            ],
            "description": "the type of user who created the order"
          },
          "orderedByUserId": {
            "type": "string",
            "format": "uuid",
            "description": "unique id of the user who created this order",
            "readOnly": true
          },
          "orderedByUserEmail": {
            "type": "string",
            "format": "email",
            "description": "the email address of the user who created this order",
            "example": "john@doe.com"
          },
          "isScheduled": {
            "type": "boolean",
            "description": "is ```true``` if order is future dated",
            "readOnly": true
          },
          "lineItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateLineItem"
            }
          }
        }
      },
      "Order": {
        "type": "object",
        "required": [
          "companyId",
          "lineItems"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "unique id of the order",
            "readOnly": true
          },
          "companyId": {
            "type": "string",
            "format": "uuid",
            "description": "unique id of the purchasing company ie. end-user"
          },
          "createdDate": {
            "type": "string",
            "format": "date",
            "description": "the date the order was created",
            "readOnly": true
          },
          "orderedBy": {
            "type": "string",
            "enum": [
              "Pax8 Partner",
              "Customer",
              "Pax8"
            ],
            "description": "the type of user who created the order"
          },
          "orderedByUserId": {
            "type": "string",
            "format": "uuid",
            "description": "unique id of the user who created this order",
            "readOnly": true
          },
          "orderedByUserEmail": {
            "type": "string",
            "format": "email",
            "description": "the email address of the user who created this order",
            "example": "john@doe.com"
          },
          "isScheduled": {
            "type": "boolean",
            "description": "is ```true``` if order is future dated",
            "readOnly": true
          },
          "lineItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LineItem"
            }
          }
        }
      },
      "Subscription": {
        "type": "object",
        "required": [
          "quantity",
          "startDate",
          "billingTerm"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "parentSubscriptionId": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "companyId": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "productId": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "vendorSubscriptionId": {
            "type": "string",
            "readOnly": true,
            "description": "The vendor's unique identifier for this subscription"
          },
          "quantity": {
            "type": "number"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "updatedDate": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "billingStart": {
            "type": "string",
            "format": "date",
            "readOnly": true
          },
          "status": {
            "type": "string",
            "readOnly": true,
            "enum": [
              "Active",
              "Cancelled",
              "PendingManual",
              "PendingAutomated",
              "PendingCancel",
              "WaitingForDetails",
              "Trial",
              "Converted",
              "PendingActivation",
              "Activated"
            ],
            "description": "Subscription Status :\n * `Active` - Provisioning request complete\n * `Cancelled` - Deprovisioning request complete\n * `PendingManual` -  An associated manual provisioning task isn't started/completed\n * `PendingAutomated` - An associated automated provisioning task isn't started/completed\n * `PendingCancel` - Deprovisioning request pending\n * `WaitingForDetails` - Provisioning details are missing\n * `Trial` - Trial subscriptions offer free or discounted access for a limited time.\n * `Converted` - Converted from trial\n * `PendingActivation` - Requires Activation but has not yet been activated\n * `Activated` - Requires Activation and has been activated\n\nActivation is required for a small subset of products.  Billing services do not begin for these products until \"activation\" is complete.\n"
          },
          "price": {
            "description": "The price for the customer.",
            "type": "number",
            "example": 15.39
          },
          "currencyCode": {
            "description": "The currency ISO 4217 code",
            "type": "string",
            "example": "USD"
          },
          "partnerCost": {
            "description": "The price for the Partner.",
            "type": "number",
            "example": 11.39
          },
          "billingTerm": {
            "type": "string",
            "enum": [
              "Monthly",
              "Annual",
              "2-Year",
              "3-Year",
              "One-Time",
              "Trial",
              "Activation"
            ]
          },
          "provisioningDetails": {
            "writeOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProvisioningDetail"
            }
          },
          "commitmentTerm": {
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/SubscriptionCommitment"
              }
            ]
          }
        }
      },
      "CreateLineItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "productId": {
            "type": "string",
            "format": "uuid"
          },
          "commitmentTermId": {
            "type": "string",
            "format": "uuid",
            "description": "This field is required when the product associated with the order has requiresCommitment field set to true. To pick the correct commitment term, use the https://devx.pax8.com/reference/findproductdependenciesbyproductid endpoint and chose a commitment term whose term field represents an equal or greater time than the desired billingTerm. For example, when the order billingTerm is annual, pass the identifier of the commitment term that matches an annual commitment, or if desired and available, pass a commitment term id of 2-year, or 3-year"
          },
          "provisionStartDate": {
            "type": "string",
            "format": "date-time"
          },
          "lineItemNumber": {
            "writeOnly": true,
            "type": "number",
            "example": 1,
            "description": "Required. Number used as a reference to the line item for parent line items"
          },
          "billingTerm": {
            "type": "string",
            "enum": [
              "Monthly",
              "Annual",
              "2-Year",
              "3-Year",
              "One-Time",
              "Trial",
              "Activation"
            ]
          },
          "parentSubscriptionId": {
            "writeOnly": true,
            "type": "string",
            "format": "uuid",
            "description": "Reference to the subscription this item depends on"
          },
          "parentLineItemNumber": {
            "writeOnly": true,
            "type": "number",
            "example": 1,
            "description": "Reference to the required parent line item in this same order"
          },
          "quantity": {
            "type": "number",
            "example": 45,
            "description": "Whole Number"
          },
          "provisioningDetails": {
            "writeOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProvisioningDetail"
            }
          }
        },
        "required": [
          "productId",
          "companyId",
          "lineItemNumber",
          "quantity",
          "billingTerm"
        ]
      },
      "LineItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "productId": {
            "type": "string",
            "format": "uuid"
          },
          "subscriptionId": {
            "type": "string",
            "format": "uuid"
          },
          "commitmentTermId": {
            "type": "string",
            "format": "uuid"
          },
          "provisionStartDate": {
            "type": "string",
            "format": "date-time"
          },
          "lineItemNumber": {
            "writeOnly": true,
            "type": "number",
            "example": 1,
            "description": "Required. Number used as a reference to the line item for parent line items"
          },
          "billingTerm": {
            "type": "string",
            "enum": [
              "Monthly",
              "Annual",
              "2-Year",
              "3-Year",
              "One-Time",
              "Trial",
              "Activation"
            ]
          },
          "parentSubscriptionId": {
            "writeOnly": true,
            "type": "string",
            "format": "uuid",
            "description": "Reference to the subscription this item depends on"
          },
          "parentLineItemNumber": {
            "writeOnly": true,
            "type": "number",
            "example": 1,
            "description": "Reference to the required parent line item in this same order"
          },
          "quantity": {
            "type": "number",
            "example": 45,
            "description": "Whole Number"
          },
          "provisioningDetails": {
            "writeOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProvisioningDetail"
            }
          }
        },
        "required": [
          "productId",
          "companyId",
          "lineItemNumber",
          "quantity"
        ]
      },
      "Address": {
        "type": "object",
        "properties": {
          "street": {
            "type": "string",
            "description": "The primary street information",
            "example": "5500 S Quebec St"
          },
          "street2": {
            "type": "string",
            "description": "The secondary street information",
            "example": "Ste. 350"
          },
          "city": {
            "type": "string",
            "description": "The city",
            "example": "Greenwood Village"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "The state or province",
            "example": "CO"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code",
            "example": "80111"
          },
          "country": {
            "type": "string",
            "description": "The country",
            "example": "US"
          }
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "email",
          "phone"
        ],
        "properties": {
          "id": {
            "readOnly": true,
            "type": "string",
            "format": "uuid",
            "description": "The id",
            "example": "18d6329e-93f9-46a5-9df7-37e4c29d2840"
          },
          "firstName": {
            "type": "string",
            "description": "The first name",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "The last name",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The email",
            "example": "john@doe.com"
          },
          "phone": {
            "type": "string",
            "format": "phone",
            "description": "The phone number",
            "example": "555-555-5555"
          },
          "createdDate": {
            "readOnly": true,
            "type": "string",
            "description": "The created date",
            "example": "2020-05-12"
          },
          "types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactType"
            }
          }
        }
      },
      "ContactType": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Admin",
              "Billing",
              "Technical"
            ],
            "description": "A company must have a primary contact for each contact type. A single contact can be marked as a primary contact for all types\nContact Type:\n  * `Admin` - Administrative contact\n  * `Billing` - Billing contact\n  * `Technical` - Technical contact\n"
          },
          "primary": {
            "type": "boolean",
            "description": "Is this contact the primary contact for this Contact Type"
          }
        }
      },
      "Invoice": {
[...]
